.remote-pointer {
  background-image: url("/images/osx-cursor.png");
  background-size: 120%;
  background-position: 35px, 0;
  width: 14px;
  height: 20px;
  margin-top: -1px;
  margin-left: -3px;
}
body {
  transition: background 0.2s;
}
